@use "../../../styles/partials/variables";

.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    padding: 5px 10px;
    border: 1px solid variables.$accent-color;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    height: 40px;
    min-width: 200px;
    width: 400px;

    &:focus {
      outline: 1.5px solid variables.$accent-color;
      z-index: 1;
    }
  }

  &__button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$grey-color;
    height: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__icon {
    font-size: 1.5rem;
  }
}

.clear-button {
  background-color: variables.$grey-color;
  width: fit-content;
  margin-left: 20px;
  border-radius: 6px;
  font-weight: bold;
  padding: 6px;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.6;
  }

  @media (max-width: 700px) {
    display: none;
  }
}
