@use "../../../styles/partials/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  &-content {
    width: 100%;
    max-width: 1200px;
  }

  &__titles {
    background-color: variables.$accent-color;
  }

  &__result {
    &-image {
      object-fit: cover;
      margin-top: 5px;
    }

    &--center {
      text-align: center;
    }
  }

  &__title {
    font-weight: bold;
    color: #fff;

    &--center {
      text-align: center;
    }
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.placeholder-text {
  text-align: center;
  margin-top: 60px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  &__icon {
    font-size: 30px;
  }

  &--error {
    color: #ff0000;
    font-weight: bold;
  }
}

.fav {
  &__button {
    width: 100%;

    &:hover .fav__icon {
      font-size: 34px;
    }
  }

  &__icon {
    color: variables.$accent-color;
    font-size: 30px;
  }
}

.mat-icon {
  width: 34px;
  height: 34px;
}
