<div class="table-content">
  <table mat-table [dataSource]="movies" class="mat-elevation-z8 table">
    <ng-container matColumnDef="poster">
      <th mat-header-cell *matHeaderCellDef class="table__title table__title--center"> Poster </th>
      <td mat-cell *matCellDef="let movie" class="table__result table__result--center"><img src="{{movie.poster}}"
          width="150" height="222" class="table__result-image" alt="{{movie.title}} poster"> </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="table__title"> Title </th>
      <td mat-cell *matCellDef="let movie" class="table__result"> <span>{{movie.title}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef class="table__title table__title--center"> Year </th>
      <td mat-cell *matCellDef="let movie" class="table__result table__result--center"> <span>{{movie.year}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="table__title table__title--center"> Type </th>
      <td mat-cell *matCellDef="let movie" class="table__result table__result--center"> <span>{{movie.type}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fav">
      <th mat-header-cell *matHeaderCellDef class="table__title table__title--center"> </th>
      <td mat-cell *matCellDef="let movie" class="table__result table__result--center">
        <button *ngIf="!checkIfMovieIsFavourite(movie)" class="fav__button" (click)="addToFavourites(movie)"><mat-icon
            class="fav__icon">favorite_border</mat-icon></button>
        <button *ngIf="checkIfMovieIsFavourite(movie)" class="fav__button"><mat-icon
            class="fav__icon">favorite</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table__titles"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table__columns"></tr>
  </table>

  <div *ngIf="movies.length == 0 && !isLoading" class="placeholder-text">
    <span>Search to see movie results</span>
  </div>
  <div *ngIf="isLoading" class="loader-container">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
