@use "../../../styles/partials/variables";

:host {
  @media (max-width: 1334px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.movie {
  display: flex;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;

  @media (max-width: 1334px) {
    width: 800px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__image {
    object-fit: cover;

    @media (max-width: 600px) {
      width: 330px;
      height: 511.5px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 600px) {
      gap: 10px;
    }
  }

  &__description {
    word-break: break-word;
    margin: 4px 0px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-span {
      font-weight: bold;
    }
  }

  &__no-description {
    font-style: italic;
    opacity: 0.8;
  }
}
.controls {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

  &__unfav {
    &-icon {
      color: variables.$accent-color;
      font-size: 34px;
    }

    &:hover .controls__unfav-icon {
      font-size: 38px;
    }
  }

  &__edit {
    &-icon {
      font-size: 34px;
    }

    &:hover .controls__edit-icon {
      font-size: 38px;
    }
  }
}

.mat-icon {
  width: 40px;
  height: 40px;
}
