@use "../../../styles/partials/variables";

.movie {
  display: flex;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;

  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    object-fit: cover;
  }

  &__button {
    &:hover .movie__fav-icon {
      font-size: 38px;
    }
  }

  &__fav-icon {
    color: variables.$accent-color;
    font-size: 34px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @media (max-width: 600px) {
      gap: 10px;
    }
  }
}

.mat-icon {
  width: 40px;
  height: 40px;
}
