<article class="movie">
  <img src="{{movie.poster}}" class="movie__image" width="225" height="350" alt="{{movie.title}} poster">
  <div class="movie__container">
    <div class="movie__info">
      <h2 class="movie__title">{{movie.title}}</h2>
      <span class="movie__year"><span class="movie__info-span">Year:</span> {{movie.year}}</span>
      <span class="movie__type"><span class="movie__info-span">Type:</span> {{movie.type}}</span>
      <div>
        <span class="movie__info-span">Description:</span>
        <span *ngIf="!movie.description" class="movie__no-description"> No description added</span>
        <p *ngIf="movie.description" class="movie__description">{{movie.description}}</p>
      </div>
    </div>
    <div class="movie__controls controls">
      <button class="controls__edit" (click)="openDialog()">
        <mat-icon class="controls__edit-icon">
          edit
        </mat-icon>
      </button>
      <button class="controls__unfav" (click)="deleteMovie(movie.imdbID)">
        <mat-icon class="controls__unfav-icon">
          favorite
        </mat-icon>
      </button>
    </div>
  </div>
</article>
